html,body {
    font-family: "Inter", sans-serif;
    background-color: #01364a !important;
}

#sidebar {
    transition: transform 0.4s ease-in-out;
}

#menu-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    z-index: 1001;
    cursor: pointer;
}

#content {
    transition: margin-left 0.4s ease-in-out;
    padding: 3.7rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eceff4;
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 40;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
}

