body.modal-open #page-content {
    filter: blur(6px);
    transition: filter 0.3s ease;
}

.modal-content {
    border: 4px solid #222121;
    border-radius: 1.25rem;
    overflow: hidden;
    box-sizing: border-box;
}

.modal-header {
    background: linear-gradient(to right, #1565c0, #008b8b);
    color: white;
}

.modal-header .modal-title {
    font-weight: 600;
}

.btn-primary {
    background: linear-gradient(to right, #1565c0, #008b8b);
    border: none;
    color: white;
}

.btn-primary:hover {
    background: linear-gradient(to right, #0d47a1, #006666);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 139, 139, 0.25);
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-backdrop {
    transition: background-color ease;
}

@media (max-width: 1440px) {
    .modal-dialog {
        margin: 4rem auto;
        max-width: 700px;
    }
}

@media (max-width: 1024px) {
    .modal-dialog {
        margin: 3.8rem auto;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        margin: 3.8rem auto;
    }
}

@media (max-width: 425px) {
    .modal-dialog {
        margin: 3.3rem auto;
        max-width: 91%;
    }
}

@media (max-width: 375px) {
    .modal-dialog {
        margin: 3.5rem auto;
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    .modal-body .d-flex.justify-content-between.align-items-center.mb-3 a {
        margin-left: 2rem;
    }
}
